/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Following added by Tuija */
.rs-checkbox {
  padding: 8px;
}

.rs-text-input {
  margin: 2px;
}

.rs-well {
  padding:2px;
  margin: 2px;
}
.rs-h4 {
  margin: 2px;
}

.rs-line-through {
  text-decoration:line-through;
}

.rs-high-lighted-text {
  color: blue;
}

.col-xs-2, .col-xs-5, .col-xs-6, .col-xs-10, .col-xs-12 {
  margin:0;
  padding:2px;
}

.panel-footer-sm {
  padding-top:1px;  
  padding-bottom:1px;  
}




/** Following needed even after material design **/
.rs-max-width {
  max-width: 80%;
}

/** Following makes the tab slighy different color than the toolbar **/
  #recipedetails .md-header {
    background-color: #1976D2 !important; }
  #recipedetails md-tab {
    color: #90caf9 !important; }
  #recipedetails md-tab.active, #recipedetails md-tab:focus {
    color: white !important; }
  #recipedetails md-tab[disabled] {
    opacity: 0.5; }
  #recipedetails .md-header .md-ripple {
    border-color: #FFFF8D !important; }
  #recipedetails md-tabs-ink-bar {
    background-color: #FFFF8D !important; } 



/* Following from tabs demo */
#recipedetails {
  /*
 * Animation styles
 */ }
 /* 
  #recipedetails #tab1-content {
    background-color: #3F51B5; }
  #recipedetails #tab2-content {
    background-color: #673AB7; }
  #recipedetails #tab3-content {
    background-color: #00796B; }
  #recipedetails .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 200px;
    overflow: hidden; }
  #recipedetails [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }

  #recipedetails [role="tabpanel"].ng-leave.ng-leave-active, #recipedetails [role="tabpanel"].ng-enter {
    top: -300px; }
  #recipedetails [role="tabpanel"].ng-leave, #recipedetails [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
  #recipedetails [role="tabpanel"].ng-leave {
    z-index: 100; }
  #recipedetails .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  #recipedetails .after-tabs-area {
    padding: 25px; }
  #recipedetails .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  #recipedetails .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
*/


