<div>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-if="type=='details'" id="backbutton" ng-click="saveAndGoBack()"
                 aria-label="Go Back" hide-gt-md>
        <rs-icon icon-name="ic_arrow_back" icon-group="navigation"></rs-icon>
      </md-button>
      <md-button ng-if="type!='details'" id="menubutton" ng-click="toggleLeft()"
                 aria-label="Open Nav Bar" hide-gt-md>
        <rs-icon icon-name="ic_menu" icon-group="navigation"></rs-icon>
      </md-button>
      <div
        style="text-overflow: ellipsis; white-space: nowrap; overflow:hidden;">{{titleString | titleCase}}
      </div>
      <span flex></span>
      <md-button ng-if="settingsButton" ng-click="gotoPage('/settings')" aria-label="Go to settings">
        <rs-icon icon-name="ic_settings"></rs-icon>
      </md-button>
      <md-button ng-if="type=='details'" id="savebutton" type="submit" ng-disabled="buttonDisabled()"
                 ng-click="saveAndGoBack()" aria-label="Save Item">
        <rs-icon icon-name="ic_check" icon-group="navigation"></rs-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style="max-height:500px" ng-transclude></md-content>
  <md-button ng-if="addButtonVisible" id="addbutton" ng-click="gotoAddPageFn()"
             class="md-primary md-fab md-fab-bottom-right" aria-label="Go to Add Page">
    <rs-icon icon-name="ic_add" icon-group="content"></rs-icon>
  </md-button>
</div>
