<md-content class="md-padding" ng-show="user.userLoggedIn">
    <section layout="column" layout-align="left left">
        <strong class="user">Hi {{user.firstname}}!</strong>
        <p>You are logged in.</p>
    </section>

    <section layout layout-align="left left">
      <br><br>
      <md-button class="md-raised md-primary" ng-click="logout()">Logout</md-button>
    </section>
</md-content>

<md-content class="md-padding" ng-hide="user.userLoggedIn">
  <form name="myform" ng-submit="login()" novalidate>
  <!--   <div layout="column"> -->
    <h4>Hi there! Please log-in:</h4>
    <p class="md-accent-text" ng-show="message">{{ message }}</p>

    <section layout="row" layout-sm="column" layout-align="left center">
      <md-input-container>
        <label>Email</label>
        <input type="email" required name="email" ng-model="inputUser.email">
        <div ng-messages="myform.email.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="email">Must be a valid email.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" required name="password" ng-model="inputUser.password">
        <div ng-messages="myform.password.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </section>

    <section layout layout-align="left left">
      <br><br>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="myform.$invalid">Login</md-button>
    </section>

    <section layout layout-align="left center">
      <p>or <a href="#/register">register</a></p>
    </section>
    <!-- </div> -->
  </form>
</md-content>
