<style type="text/css">
</style>

<formgroup>
  <form class="col-xs-12">  <!-- class="search -->
      <div class="col-xs-6">
          <label class="formgroup">by:
            <select ng-model="itemOrder">
              <option value="aisle">Aisle</option>
              <option value="recipe">Recipe</option>
            </select>
          </label>
          <!-- <span class="rs-checkbox"> -->
          <input type="checkbox" ng-model="showAllDef" >
          <!-- </span> -->
      </div>
      <input type="text" class="col-xs-6" ng-model="query" placeholder="Search for groceries"> <!-- style="width:140px" -->
  </form>

<!--        <p>
        <label class="formgroup">
          <input type="radio" ng-model="direction" name="direction" checked>
          ascending
        </label>
        <label>
          <input type="radio" ng-model="direction" name="direction" value="reverse">
          descending
        </label>
        </p> -->
      <!-- <a ng-href="#/playerdetails/0}}"><button>Add<br>Player</button></a> -->

  <form class="col-xs-12" name="myform" ng-submit="addProduct()" novalidate>
          <label class="sr-only" for="product">Product</label>
          <input type="text" class="col-xs-5" name="product" Placeholder="Product"
            ng-model="product" ng-required="true">
          <label class="sr-only" for="aisle">Aisle</label>
          <input type="text" class="col-xs-5" name="category" Placeholder="Aisle"
            ng-model="aisle" ng-required="true">
        <button type="submit" class="btn btn-primary col-xs-2 pull-right" ng-disabled="myform.$invalid">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
  </form>
</formgroup>

<div line-through="item.isbought" class="well rs-well" ng-repeat="item in groceries | filter: showAll | filter: query | orderBy: [itemOrder, 'product']"> 
    <span class="rs-checkbox pull-left"><input type="checkbox" ng-model="item.isbought" ng-change="saveProduct(item)"></span> 
    <h4 class="rs-h4">
      <span><strong>{{item.product}}</strong></span> 
      <span class="pull-right">{{item.amount}} {{item.unit}}</span>
    </h4>
    <span class="rs-high-lighted-text">{{item.aisle}}; </span><span>{{item.recipe | lowercase}}</span>
    <span class="pull-right"><button class="btn btn-delete btn-danger" ng-click="deleteProduct(item)"></button></span>
</div>


