<style type="text/css">
.rs-h4-size {
  font-size: 14px;
}

.rs-no-scroll {
  overflow: hidden;
}
</style>

<md-content class="md-padding">
  <md-content layout="row">
        <md-input-container flex>
            <label>Search for products</label>
            <input ng-model="query">
        </md-input-container>
        <!--<label class="formgroup">by:
              <select ng-model="itemOrder">
                <option value="aisle">Aisle</option>
                <option value="recipe">Recipe</option>
              </select>
            </label> -->
        <md-checkbox md-no-ink aria-label="Do Not Show Bought" ng-model="mySettings.doNotShowBoughtItems" 
          ng-change="updateShowAll()" 
          class="md-primary"></md-checkbox> 
  </md-content>
  <md-content>
    <form name="myform" ng-submit="addProduct()" novalidate>
      <div layout>
        <md-input-container flex>
            <label>Product</label>
            <input ng-model="product" ng-required="true">
        </md-input-container>
        <md-input-container flex>
            <label>Aisle</label>
            <input ng-model="aisle" ng-required="true">
        </md-input-container>
        <md-button type="submit" id="addproductbutton" ng-disabled="myform.$invalid" class="md-primary md-fab" aria-label="Add Product">
                <md-icon 
                md-svg-src="../bower_components/material-design-icons/action/svg/production/ic_note_add_24px.svg"></md-icon>
        </md-button>
      </div>
    </form>
  </md-content>
  <md-content>
      <md-list>
          <md-item line-through="item.isbought" 
            ng-repeat="item in groceries | filter: showAll | filter: query | 
                orderBy: [mySettings.shoppingListSortOrder, 'product']"> 
            <md-item-content> 
              <div class="md-tile-right">
                  <md-checkbox md-no-ink aria-label="Is Bought" ng-model="item.isbought" 
                    class="md-primary" ng-change="saveProduct(item)">
                  </md-checkbox>
              </div>
              <div class="md-tile-content" ng-click="gotoDetailsPage(item)">
                  <h3>
                    <span><strong>{{item.amount}} {{item.unit}} {{item.product}}</strong></span> 
                  </h3>
                <h4><span class="md-accent-text">{{item.aisle}}; </span><span>{{item.recipe | lowercase}}</span></h4>
              </div>
              <div class="md-tile-right md-padding">
                  <md-button id="deleteproductbutton" class="md-warn md-raised md-hue-2" 
                    ng-click="deleteProduct(item)" aria-label="Delete">
                    <md-icon md-svg-src="../bower_components/material-design-icons/action/svg/production/ic_delete_24px.svg">
                    </md-icon>
                  </md-button>
              </div>
            </md-item-content>
            <md-divider inset></md-divider>
        </md-item>
    </md-list>
  <md-content>
</md-content>


<!--        <p>
        <label class="formgroup">
          <input type="radio" ng-model="direction" name="direction" checked>
          ascending
        </label>
        <label>
          <input type="radio" ng-model="direction" name="direction" value="reverse">
          descending
        </label>
        </p> -->
      <!-- <a ng-href="#/playerdetails/0}}"><button>Add<br>Player</button></a> -->


