<rs-view title="Pic Demo">
	<div> 
		<form>
		    <!-- <input type="file" rs-file-select="onFileSelect($files)" image-srcs="imageSrcs"> -->
			<input type="file" rs-file-select="onFileSelect($files)" image-srcs="imageSrcs" multiple>
		</form>

		<b>Preview: 1 pic</b><br/>
		<i ng-hide="imageSrcs">No image chosen</i>
		<img ng-src="{{imageSrcs[0]}}" width="300" height="200"/><br/>

		<b>Preview: many pics</b><br/>
		<i ng-hide="imageSrcs">No images chosen</i>
		<span ng-repeat="item in imageSrcs">
			<img ng-src="{{item}}" width="75" height="50" style="margin:5px"/>
		</span>
	</div>
</rs-view>

