<md-content class="md-padding">
  <div layout="row" layout-sm="column">
    <div layout="row" flex-gt-sm="30">
      <md-input-container>
        <label>Amount</label>
        <input type="number" ng-model="currentItem.amount">
      </md-input-container>
      <md-input-container>
        <label>Unit</label>
        <input ng-model="currentItem.unit">
      </md-input-container>
    </div>
    <md-input-container flex>
      <label>Product</label>
      <input ng-model="currentItem.product" ng-required="true">
    </md-input-container>
  </div>

  <div layout>
    <rs-aisles-menu rs-model="currentItem.aisle"></rs-aisles-menu>
    <md-input-container flex>
      <label>Recipe</label>
      <input ng-model="currentItem.recipe" ng-disabled="true">
    </md-input-container>
  </div>

  <div layout>
    <md-input-container flex>
      <label>Note</label>
      <textarea ng-model="currentItem.note" columns="1"></textarea>
    </md-input-container>
  </div>
</md-content>
