<md-content class="md-padding">
  <div layout="row" layout-sm="column">
    <md-input-container flex>
      <label>Recipe Name</label>
      <input ng-model="recipe.recipename" ng-required="true">
    </md-input-container>
    <md-input-container flex>
      <label>Category</label>
      <input ng-model="recipe.category">
    </md-input-container>
  </div>
  <div layout>
    <md-input-container flex>
      <label>Note</label>
      <textarea ng-model="recipe.note" columns="1"></textarea>
    </md-input-container>
  </div>
</md-content>
