<md-content class="md-padding">
  <md-content layout="row">
      <md-input-container flex>
          <label>Search for Recipes</label>
          <input ng-model="query">
      </md-input-container>
      <!-- <label >by:
        <select ng-model="itemOrder">
          <option value="category">Caterory</option>
          <option value="recipename">Recipe Name</option>
        </select>
      </label> -->
  </md-content>
  <md-content>
  <form name="myform" ng-submit="addRecipe()" novalidate>
    <div layout>
      <md-input-container flex>
          <label>Recipe Name</label>
          <input ng-model="recipename" ng-required="true">
      </md-input-container>
      <md-input-container flex>
          <label>Category Name</label>
          <input ng-model="category" ng-required="true">
      </md-input-container>
      <md-button type="submit" id="addrecipebutton" ng-disabled="myform.$invalid" class="md-primary md-fab" aria-label="Add Recipe">
              <md-icon 
                md-svg-src="../bower_components/material-design-icons/action/svg/production/ic_note_add_24px.svg"></md-icon>
      </md-button>
    </div>
  </form>
  </md-content>
  <md-content>
    <md-list>
        <md-item ng-repeat="item in recipes | filter: query | 
          orderBy: ['-onlist', mySettings.recipeSortOrder, 'recipename']">
          <md-item-content> 
            <div class="md-tile-right">
                <md-checkbox md-no-ink aria-label="Is on Shopping List" ng-model="item.onlist" 
                  class="md-primary" ng-change="updateRecipe(item)">
                </md-checkbox>
            </div>
            <div class="md-tile-content" ng-click="gotoDetailsPage(item)">
                <h3>
                  <span><strong>{{item.recipename}}</strong></span> 
                </h3>
              <h4 class="md-accent-text">{{item.category}}</h4>
            </div>
            <div class="md-tile-right md-padding">
                <md-button id="deleterecipebutton" class="md-warn md-raised md-hue-2" 
                  ng-click="deleteRecipe(item)" aria-label="Delete">
                  <md-icon md-svg-src="../bower_components/material-design-icons/action/svg/production/ic_delete_24px.svg">
                    </md-icon>
                  </md-icon>
                </md-button>
            </div>
          </md-item-content>
          <md-divider inset></md-divider>
        </md-item>
    </md-list>
  </md-content>
</md-content>


