<style type="text/css">
</style>

<formgroup>
  <form class="col-xs-12">  <!-- class="search -->
      <div class="col-xs-6">
            <label >by:
              <select ng-model="itemOrder">
                <option value="category">Caterory</option>
                <option value="recipename">Recipe Name</option>
              </select>
            </label>
            <!-- <span class="rs-checkbox"><input type="checkbox" ng-model="showAllDef" ></span> -->
      </div>
       <input type="text" class="col-xs-6" ng-model="query" placeholder="Search for recipes"> 
  </form>

  <form class="col-xs-12" name="myform" ng-submit="addRecipe()" novalidate>
          <label class="sr-only" for="recipename">Recipe Name</label>
          <input type="text" class="col-xs-5" name="recipename" Placeholder="Recipe Name"
            ng-model="recipename" ng-required="true">
          <label class="sr-only" for="category">Category Name</label>
          <input type="text" class="col-xs-5" name="category" Placeholder="Category Name"
            ng-model="category" ng-required="true">
        <button type="submit" class="btn btn-primary col-xs-2 pull-right" ng-disabled="myform.$invalid">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
  </form>
</formgroup>

<div line-through="item.onlist" class="well rs-well" ng-repeat="item in recipes | filter: showAll | filter: query | orderBy: [itemOrder, 'recipename']"> 
  <span class="rs-checkbox pull-left"><input type="checkbox" ng-model="item.onlist" ng-change="updateRecipe(item)"></span> 
  <a ng-href="#/recipedetails/{{recipes.indexOf(item)}}">
    <h4 class="rs-h4">
      <span><strong>{{item.recipename}}</strong></span> 
      <!-- <span class="pull-right">{{item.amount}} {{item.unit}}</span> -->
    </h4>
    <span class="rs-high-lighted-text">{{item.category}}; </span>
    <!-- <span>{{item.recipe | lowercase}}</span> -->
  </a>
  <span class="pull-right"><button class="btn btn-delete btn-danger" ng-click="deleteRecipe(item)"></button></span>
</div>


