<form name="recipeForm" novalidate>
  <rs-view type="details" title="getTitle()" tab-index="{{data.selectedTabIndex}}"
           goto-add-page-fn="gotoAddPage(recipe.$id, recipe.recipename)"
           check-fn="addOrSaveRecipe()" check-enabled="{{recipeForm.$valid}}">
       <md-tabs md-dynamic-height class="md-primary md-hue-2" md-selected="data.selectedTabIndex">
        <md-tab id="details-tab">
          <rs-icon icon-name="ic_info_outline"></rs-icon>
          <md-tab-body>
            <rs-recipe-info></rs-recipe-info>
          </md-tab-body>
        </md-tab>
        <md-tab id="ingredients-tab" ng-disabled="recipeForm.$invalid"
                aria-controls="ingredients-tab-content">
          <rs-icon icon-name="ic_list"></rs-icon>
          <md-tab-body>
            <rs-recipe-ingredients></rs-recipe-ingredients>
          </md-tab-body>
        </md-tab>
        <md-tab id="instructions-tab" ng-disabled="recipeForm.$invalid"
                aria-controls="instructions-tab-content">
          <rs-icon icon-name="ic_subject"></rs-icon>
          <md-tab-body>
            <rs-recipe-instructions></rs-recipe-instructions>
          </md-tab-body>
        </md-tab>
        <md-tab id="photo-tab" ng-disabled="recipeForm.$invalid"
                aria-controls="photo-tab-content">
          <rs-icon icon-name="ic_perm_media"></rs-icon>
          <md-tab-body>
            <md-content class="md-padding">
              <p>Photo</p>
            </md-content>
          </md-tab-body>
        </md-tab>
      </md-tabs>
  </rs-view>
</form>
