<md-content layout="row">
      <md-text-float label="Search for Recipes" ng-model="query"></md-text-float>
      <!-- <label >by:
        <select ng-model="itemOrder">
          <option value="category">Caterory</option>
          <option value="recipename">Recipe Name</option>
        </select>
      </label> -->
</md-content>
<form name="myform" ng-submit="addRecipe()" novalidate>
  <md-input-container layout="row">
      <md-text-float label="Recipe Name" ng-model="recipename" ng-required="true"></md-text-float>
      <md-text-float label="Category Name" ng-model="category" ng-required="true"></md-text-float>
      <md-button type="submit" ng-disabled="myform.$invalid" class="md-primary md-fab" aria-label="Add Recipe">
          <md-icon 
          icon="../bower_components/material-design-icons/action/1x_web/ic_note_add_grey600_24dp.png"></md-icon>
      </md-button>
  </md-input-container>
</form>
<md-content class="md-padding">
    <md-list>
        <md-item ng-repeat="item in recipes | filter: showAll | filter: query | orderBy: ['-onlist', itemOrder, 'recipename']">
          <md-item-content> 
            <div class="md-tile-right">
                <md-checkbox md-no-ink aria-label="Is on Shopping List" ng-model="item.onlist" 
                  class="md-primary" ng-change="updateRecipe(item)">
                </md-checkbox>
            </div>
            <div class="md-tile-content" ng-click="gotoDetailsPage(item)">
                <h3>
                  <span><strong>{{item.recipename}}</strong></span> 
                </h3>
              <h4 class="md-accent-text">{{item.category}}</h4>
            </div>
            <div class="md-tile-right md-padding">
                <md-button class="md-warn md-raised md-hue-2" ng-click="deleteRecipe(item)" aria-label="Delete">
                  <md-icon icon="../bower_components/material-design-icons/action/1x_web/ic_delete_white_24dp.png">
                  </md-icon>
                </md-button>
            </div>
          </md-item-content>
          <md-divider inset></md-divider>
      </md-item>
  </md-list>
<md-content>


