<md-content>
  <rs-search-bar list-id="{{recipe.$id}}" list-name="{{recipe.recipename}}">
  </rs-search-bar>
    <md-list>
      <md-item ng-repeat="item in ingredients">
        <rs-list-item list-item="item" checkbox-field="isonlist" checkbox-fn="saveIngredient(item, item.isonlist)"
                      accented-text="{{item.aisle}}" click-fn="gotoDetailsPage(item, recipe.$id, recipe.recipename)"
                      has-note="{{item.note}}"
                      delete-fn="deleteIngredient(item)">{{item.amount}} {{item.unit}} {{item.product}}
        </rs-list-item>
        <md-divider inset></md-divider>
      </md-item>
    </md-list>
</md-content>
