<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
  md-is-locked-open="$mdMedia('gt-md')"> 
  <md-toolbar md-theme="green"> 
    <h1 class="md-toolbar-tools">Recipe Shopper</h1>
  </md-toolbar>
  <md-content class="md-padding" ng-controller="LeftCtrl">
    <md-list>
      <rs-side-menu-item user-logged-in-fn="userLoggedIn()" 
        click-action-fn="gotoPage('/main')" menu-item-text="Shopping List" icon-name="ic_shopping_cart">
      </rs-side-menu-item>
      <rs-side-menu-item user-logged-in-fn="userLoggedIn()" 
        click-action-fn="gotoPage('/recipelist')" menu-item-text="Recipes" icon-name="ic_book">
      </rs-side-menu-item>
      <md-divider inset></md-divider>
      <rs-side-menu-item user-logged-in-fn="userLoggedIn()" 
        click-action-fn="gotoPage('/settings')" menu-item-text="Settings" icon-name="ic_settings">
      </rs-side-menu-item>
      <rs-side-menu-item user-logged-in-fn="userLoggedIn()" 
        click-action-fn="logout()" menu-item-text="Logout" icon-name="ic_account_box">
      </rs-side-menu-item>
      <md-item-content>
          <md-button ng-click="gotoPage('/picdemo')">
            <span>Pic Demo</span>
          </md-button>
      </md-item-content>
    </md-list>
  </md-content>
</md-sidenav>